.container {
    border: 1px solid black;
    height: 100vh;
}
.row { 
    border: blue solid 1px;
    height: 30%;
}
.col, .col-2, .col-4 {
    border:3px solid rgb(160, 95, 100);
}

footer {
    height: 100px;
}