header, main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
header, footer {
    background-color: rgb(243, 236, 238);
}
h1{
    color: rgb(116, 33, 88);
}
img {
    width: 35vh;
    height: auto;
    border-radius: 10%;
}

.infosFooter {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.btnsLink {
    display: block;    
    background-color: tan;
    border-radius: 15px;
    padding: 10px;
    text-decoration:none;
    color: rgb(116, 33, 88);
    font-weight: bold; 
    
}


/* ----------------page index------------------ */
.contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: tan;

}
.btnVoir {
    display: inline-block;
   border-radius: 10%;
   padding: 0.5rem;
    /* border: blueviolet solid 2px; */
    background-color: rgb(102, 63, 9);
    text-decoration: none;
    color: white;
}
figure {
    border:rgb(41, 25, 2) solid 3px;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* ---------------page panier------------------- */

.article-panier {
display: flex;
justify-content: space-between;
width: 60vw;
background-color: rgb(243, 236, 238);
padding: 20px;
margin-bottom: 20px;
border-radius: 10px;
}
.titre-tableau, .totalPanier {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    background-color: rgb(126, 108, 84);
    color:wheat;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.boutons {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(226, 199, 213);
    align-items: stretch;
}
.btnsProduit {
    display: block;    
    margin: auto;
    background-color: tan;
    border-radius: 15px;
    border-style: none;
   }

.spanError{
    visibility: hidden;
}
.error{
    visibility: visible;
    border: red solid 1px;
    color: red;
}
